<a href="https://colab.research.google.com/github/Priyabrat1103/Bank-Churning-Model/blob/main/Bank_Churning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline 
train_df = pd.read_csv('/content/BankChurners.csv')
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
 21  Unnamed: 21               0 non-null      float64
dtypes: float64(6), int64(10), object(6)
memory usage: 1.7+ MB

In [ ]:
#pd.set_option('display.max_columns', None)

In [ ]:
path = '/content/BankChurners.csv'
df = pd.read_csv(path)
df.head()

   CLIENTNUM     Attrition_Flag  ...  Avg_Utilization_Ratio Unnamed: 21
0  768805383  Existing Customer  ...                  0.061         NaN
1  818770008  Existing Customer  ...                  0.105         NaN
2  713982108  Existing Customer  ...                  0.000         NaN
3  769911858  Existing Customer  ...                  0.760         NaN
4  709106358  Existing Customer  ...                  0.000         NaN

[5 rows x 22 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
 21  Unnamed: 21               0 non-null      float64
dtypes: float64(6), int64(10), object(6)
memory usage: 1.7+ MB

In [ ]:
df.drop(df.columns[-2:], axis = 1, inplace = True)

In [ ]:
df.head()

   CLIENTNUM     Attrition_Flag  ...  Total_Trans_Ct Total_Ct_Chng_Q4_Q1
0  768805383  Existing Customer  ...              42               1.625
1  818770008  Existing Customer  ...              33               3.714
2  713982108  Existing Customer  ...              20               2.333
3  769911858  Existing Customer  ...              20               2.333
4  709106358  Existing Customer  ...              28               2.500

[5 rows x 20 columns]

In [ ]:
df.describe()

          CLIENTNUM  Customer_Age  ...  Total_Trans_Ct  Total_Ct_Chng_Q4_Q1
count  1.012700e+04  10127.000000  ...    10127.000000         10127.000000
mean   7.391776e+08     46.325960  ...       64.858695             0.712222
std    3.690378e+07      8.016814  ...       23.472570             0.238086
min    7.080821e+08     26.000000  ...       10.000000             0.000000
25%    7.130368e+08     41.000000  ...       45.000000             0.582000
50%    7.179264e+08     46.000000  ...       67.000000             0.702000
75%    7.731435e+08     52.000000  ...       81.000000             0.818000
max    8.283431e+08     73.000000  ...      139.000000             3.714000

[8 rows x 14 columns]

In [ ]:
df.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
dtype: int64

In [ ]:
df.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1'],
      dtype='object')

In [ ]:
df.drop('CLIENTNUM', axis = 1, inplace = True)

In [ ]:
target_col = pd.get_dummies(df['Attrition_Flag'], drop_first = True)

df['target'] = target_col

df.drop('Attrition_Flag', axis = 1, inplace = True)

In [ ]:
df['Gender'].unique()
d = {
    'M': 0,
    'F': 1
}
df['Gender'] = df['Gender'].map(d)

In [ ]:
d = {
    'Unknown': 0,
    'Single': 1,
    'Married': 2,
    'Divorced': 3
}
df['Marital_Status'] = df['Marital_Status'].map(d)

In [ ]:
df['Education_Level'].value_counts().index
d = {
    'Unknown': 0,
    'Uneducated': 1,
    'High School': 2,
    'College': 3,
    'Graduate': 4,
    'Post-Graduate': 5,
    'Doctorate': 6
}
df['Education_Level'] = df['Education_Level'].map(d)

In [ ]:
d = {
    'Unknown': 0,
    'Less than $40K': 1,
    '$40K - $60K': 2,
    '$60K - $80K': 3,
    '$80K - $120K': 4,
    '$120K +': 5
}
df['Income_Category'] = df['Income_Category'].map(d)

In [ ]:
df['Card_Category'].value_counts().index
d = {
    'Blue': 0,
    'Silver': 1,
    'Gold': 2,
    'Platinum': 3
}
df['Card_Category'] = df['Card_Category'].map(d)

In [ ]:
from sklearn.model_selection import train_test_split
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8101, 18), (2026, 18), (8101,), (2026,))

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
dec = DecisionTreeClassifier()
random = RandomForestClassifier()
naive_bayes = GaussianNB()
adaboost = AdaBoostClassifier() 
gradboost = GradientBoostingClassifier()
model =[
        dec, 
        random, 
        naive_bayes,
        adaboost,
        gradboost
       ] 

for model in model:
    print(model)
    crossval = cross_val_score(model, X, y, cv = 5)
    print(crossval)
    print('mean is {}'.format(crossval.mean()))
    print("The standard deviation is {}".format(crossval.std()))
    print()

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')
[0.81342547 0.89338598 0.95061728 0.95209877 0.85382716]
mean is 0.8926709322023572
The standard deviation is 0.05418235947932759

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
[0.89042448 0.95113524 0.96345679 0.96888889 0.84641975]
mean is 0.9240650311384104
The standard deviation is 0.04786263882326344

GaussianNB(priors=None, var_smoothing=1e-09)
[0.6816387  0.84995064 0.94123457 0.95111111 0.84148148]
mean is 0.8530832998184101
The standard deviation is 0.09686874154599916

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)
[0.87068115 0.91905232 0.96641975 0.96839506 0.85283951]
mean is 0.9154775571886464
The standard deviation is 0.04762014806254304

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)
[0.9047384  0.93484699 0.96839506 0.96888889 0.84888889]
mean is 0.9251516458874143
The standard deviation is 0.04496587105841095

In [ ]:
random.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, random.predict(X_test))

0.9644619940769991